.projects{
  display:flex;
  justify-content: center;
  align-self: center;

}


.image{
  border-radius: 5px;
  box-shadow: 3px 3px 15px grey;
  width: 500px;
  height:300px;
}


.image:hover{
   box-shadow: inset 0 0 0 25px #53a7ea;
}



.overlay {
  border-radius:5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 42px;
  right: 0;
  width: 500px;
  height: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.overlay:hover {
  box-shadow: inset 0 0 0 25px #53a7ea;
}

.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
