.indent {
  text-indent: 5%;
  text-align: center;
}

.text {
  color: #d6d6d6;
}

.section__subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-top: rem; */
  margin-bottom: 0;
  color: #75b4d7;
  margin: 1rem;
}

.skills {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  padding: 0;
}

.skills__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 1rem;
  color: #75b4d7;
}

[class*=" devicon-"],
[class^="devicon-"] {
  font-size: 2rem;
}

.greeting {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "IBM Plex Sans", sans-serif;
}

article {
  margin-bottom: 2rem;
  padding: 1rem;
}

.h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

p + p {
  text-indent: 1.5em;
}

p {
  margin: 0;
  display: block;
  -webkit-margin-after: 0.25rem;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

@media screen and (min-width: 1000px) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 25%;
    margin-right: 25%;
  }
  article {
    margin-bottom: 2rem;

    padding: 1rem;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (max-width: 999px) {
  .h1 {
    font-size: 1rem;
  }
  .greeting {
    margin: 0rem;
    margin-top: 0.5rem;
    font-size: 3rem;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  article {
    margin-bottom: 0;
  }
}
