.bio{
  font-family: "Tiempos Text Web";
}





.h1{
  font-size: 1.2rem;
  font-weight: 400;
}

p+p {
    text-indent: 1.5em;
}

p {
    margin:0;
    display: block;
    -webkit-margin-before: .25rem;
    -webkit-margin-after: .25rem;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


@media screen and (max-width: 400px) {
.h1{
    font-size: 1rem;
  }
}
