.portfolio{
}




.text {
  color: black;
  margin-top: calc(1.7778rem / 2);
  margin-bottom: 1.7778rem;
}

.text a{
  text-decoration:none;
}

h2{
  font-size: 1rem;
  font-weight: 600;
  font-family: 'helvetica';
/*  margin-bottom: 1.7778rem;*/
}


p+h2{
  margin-bottom: 1.7778rem;
}

