.App {
  min-height: calc(100vh - 2em);
  font-family: "Poppins";
  margin: 1rem;
  background-color: #fffff5;
}



/* width */
::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 400px) {
  .App{
  font-size: .875rem;
  }
  .h1{
    font-size: 1rem;
  }
  .nav li+li {
    margin-left: calc(1.5rem / 2);
}
}
