.App {
  min-height: 100vh;
  text-align: center;
  background-color: #c3c6c6;
  font-family: "Helvetica";
  cursor: url('https://i.imgur.com/nDobj0M.png'), auto;
/*   cursor: url('../Images/blackcircle.png'), auto;*/
}

.body{
  background-color: #c3c6c6;
}



/* width */
::-webkit-scrollbar {
    margin-top: 8px;
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c3c6c6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9FB7CC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
