.App {
/*  min-height: 100vh;*/
  font-family: "Helvetica";
  padding-left: 1.7778rem;
  padding-right: 1.7778rem;
}



/* width */
::-webkit-scrollbar {
    margin-top: 8px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9FB7CC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 400px) {
  .App{
  font-size: .875rem;
  }
  .nav li+li {
    margin-left: calc(1.5rem / 2);
}
}
