.grid{
  display: grid;
  grid-template-areas: "contact employment"
                       "education volunteer"
                       "skills pdf"

  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}


.contact{
  grid-area: contact;
   padding-bottom: 1.5rem;
}

.skills{
  grid-area:skills;
}

.skill-name: {
  text-decoration: none;
}

.education{
  grid-area: education;
}

.employment{
  grid-area: jobs;
}

.volunteer{
  grid-area: volunteer;
}

.pdf{
  grid-area: pdf;
}


.employer{
  font-style:italic;
}

.entry, .skills{
  padding-bottom: 1.5rem;
}



