.grid{
  display: grid;
  grid-template-areas: "contact employment"
                       "education volunteer"
                       "skills pdf"

  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.CV{
  font-family: 'Adamina', serif;
}



.contact{
  grid-area: contact;
}

.skills{
  grid-area:skills;
}

.skill-name: {
  text-decoration: none;
}

.education{
  grid-area: education;
}

.employment{
  grid-area: employment;
}

.volunteer{
  grid-area: volunteer;
}

.pdf{
  grid-area: pdf;
}


.employer, .institution{
  font-style:italic;
}

.entry, .contact{
  padding-bottom: 1.5rem;
}


@media screen and (max-width: 700px){
  .entry, .contact{
  padding-bottom: 1rem;
  font-size: .875rem;
}

  .grid{
  grid-template-areas: "employment employment"
                       "education volunteer"
                       "skills pdf"

    ;
  }
}
