.Item{
  height: 150px;
/*  justify-content: center;*/
  margin: 1px;
  border: 2px solid black;
/*  grid-column: span 1;
  display: inline-block;*/
/*  flex-wrap: wrap;*/
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
    background-color: #F3A293;
}



button{
  color: black;
}
