.Second{
  height: 150px;
/*  justify-content: center;*/
  margin: 1px;
  border: 2px solid black;
/*  grid-column: span 1;
  display: inline-block;*/
/*  flex-wrap: wrap;*/
  color: white;
  align-self: center;
    background-color: #F3A293;
}



