.header {
    align-items: center;
    border-bottom: 1px solid;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom:  1.7778rem;
    padding: 1.7778rem 0 0;
}


.site_title{
  margin-right: 1.7778rem;
}
/*.arrow{
  font-size: 2rem;
  color: white;
  align-self: center;
}

.l-border{
  border-bottom: 2px solid;
  border-left: 2px solid;
  padding-left: 5px;
  padding-right: 3px;
}

.r-border{
   border-bottom: 2px solid;
  border-right: 2px solid;
  padding-right: 5px;
  padding-left: 3px;
}

.left{

  grid-area:left;
}

.center{
  grid-area: center;
}

.right{

  grid-area: right;
}*/


/*
.l-border:hover, .r-border:hover{
  border: 2px solid;
}*/
