.footer {
    border-top: 1px solid currentColor;
    color: #747474;
    font-family: Neue Haas Unica Web,BlinkMacSystemFont,-apple-system,Helvetica Neue,Helvetica,sans-serif;
    margin-top: cal(1.7778rem * 2);
}
