.footer {
    color: #747474;
    font-family: Neue Haas Unica Web,BlinkMacSystemFont,-apple-system,Helvetica Neue,Helvetica,sans-serif;
    margin-top: cal(1.7778rem * 2);
    display:flex;
    justify-content: center;
    font-size: .75rem;
    transition: all .7s;
}
