.wrap {
    margin: 0 auto;
    max-width: 34rem;
}


.plainlink{
  text-decoration: none;
}

.b {
  display: block;
}

a{
  color:black;
}

a:hover{
  color:orange;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

p {
  line-height: 150%;

  font-family: 'Adamina', serif;

}
